div.content {
    height: 6420px;
}

div.grid {
    height: 6420px;
}

div.bottom-grid {
    top: 6400px;
}

div.content div.tire {
    height: 6135px;
}

div.title-img {
    width: 260px;
    margin: 20px auto 20px;
}

    div.title-img img {
        max-width: 260px;
    }

.main-index {
    margin: 30px 40px;
}

.index-row {
    margin-bottom: 50px;
}

    .index-row h2 {
        color: red;
        font-weight: bold;
        padding-left: 25px;
    }

.main-index img {
    padding-right: 10px;
}

.main-index table {
    font-size: 20px;
}

    .main-index table td.title {
        width: 100px;
        vertical-align: text-top;
    }
